.btn,
.jumbotron,
.nav :hover {
   border-radius: 0px;
}
body {
   background: #f3f4f7;
   /* overflow-x: hidden; */
}
.container-fluid {
   padding: 0px !important;
}
.bg-base {
   background-color: #caccd1;
}
.bg-nav,
.bg-footer {
   background-color: #0a8ea0;
}

footer {
   position: absolute;
   /* bottom: 0px; */
   right: 0px;
   left: 0px;
}
ul li .nav-link {
   outline: none;
   border: none !important;
   margin: 0px 10px;
   transition: ease-in-out all 300ms;
}

ul li .nav-link:hover {
   background-color: #30c39e;
}
.btn {
   transition: ease-in-out all 300ms !important;
}
