.btn,
.jumbotron,
.nav :hover {
   border-radius: 0px;
}
body {
   background: #f3f4f7;
   /* overflow-x: hidden; */
}
.container-fluid {
   padding: 0px !important;
}
.bg-base {
   background-color: #caccd1;
}
.bg-nav,
.bg-footer {
   background-color: #0a8ea0;
}

footer {
   position: absolute;
   /* bottom: 0px; */
   right: 0px;
   left: 0px;
}
